@inject IJSRuntime JsRuntime
@using LogoutComponent
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<nav class="grey lighten-3">
    <div class="nav-wrapper">
        <ul class="left">
            <AuthorizeView>
                <li>
                    <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="">
                        Overview
                    </NavLink>
                </li>
            </AuthorizeView>
                <AuthorizeView>
                    <li>
                        <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="productlistings">
                            Products
                        </NavLink>
                    </li>
                </AuthorizeView>
                <AuthorizeView>
                    <li>
                        <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="orders">
                            Orders
                        </NavLink>
                    </li>
                </AuthorizeView>
                <li>
                    <Logout></Logout>
                </li>
        </ul>
    </div>
</nav>
@code{

}

