@inject IJSRuntime JsRuntime
<nav>
    <div class="nav-wrapper">
        <ul class="left">
            <li>
                <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="">
                    Overview
                </NavLink>
            </li>
            <li>
                <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="productlistings">
                    Products
                </NavLink>
            </li>
            <li>
                <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" Match="NavLinkMatch.All" href="orders">
                    Orders
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
@code{

}

